body{
	background: #5882FA;
}

#login{
	text-align: center;
}

div{
	align-items: center;
	 width: 900px;
     margin: auto;
     padding: 10px;
}
fieldset{
       width: 400px; 
          margin:auto;
        border-radius: 10px;
        border:2px solid #058237;
}
h1{
   text-align: center;
   padding:10px;
}
