#wrapper{
	align-items: center;
	 width: 900px;
     margin: auto;
     padding: 10px;
}
h1{
   text-align: center;
   padding:10px;
}
.jumbotron{
    border-radius: 10px;
    padding:30px;
}
#login_form{
    text-align: center;
}
#submit_button{
    background: forestgreen;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    width:500px;
}

legend.scheduler-border {
    width:200px;
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

